body {
    margin: 0;
    width: 100%;
    height: 100vh;
    font-family: "EB Garamond", serif;

}

.wrapper {
    display: flex;
    height: 100%;
    width: 100%;
}

.contain {
    width: 50%;
    background-color: black;
    text-align: center;
}
.slides--card {
    width: 100%;display: flex;
    overflow: hidden;
    justify-content: center;
}


.slick-track {
    display: flex;
    justify-content: center;

}

 .slick-slide img {
     height: 100vh;
     width: auto;
     margin: 0 auto;
 }

.form {
    width: 50%;
    background-color: #202020;
    display: flex;
    flex-direction: column;
}
.slick-initialized .slick-slide {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

@font-face {
    font-family: "Game Of Thrones";
    src: url("fonts/Game Of Thrones.ttf");
}

.sign {
    margin-top: 100px;
    margin-bottom: 50px;
    font-family: "Game Of Thrones", serif;
    color: #d3bb89;
    text-align: center;
    font-size: 30px;

}

label {
    color: #d3bb89;
    font-size: 20px;
}

span {
    color: #fef8eb;
    font-size: 15px;
}

form {
    width: 60%;
    display: flex;
    flex-direction: column;
    text-align: left;
    padding-left: 20%;
}

.firstForm {
    display: flex;
    flex-direction: column;
}

.secondForm--invisible {
    display: none;
    flex-direction: column;
}

.secondForm--visible {
    display: flex;
    flex-direction: column;
}

.form_part {
    margin-top: 20px;
    padding-bottom: 15px;
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid #c19a49;

}

.box {
    margin-top: 15px;
}


.container {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* Hide the browser's default checkbox */
.container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

/* Create a custom checkbox */
.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #eee;
}

/* On mouse-over, add a grey background color */
.container:hover input ~ .checkmark {
    background-color: #d3bb89;
}

/* When the checkbox is checked, add a blue background */
.container input:checked ~ .checkmark {
    background-color: #d3bb89;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the checkmark when checked */
.container input:checked ~ .checkmark:after {
    display: block;
}

/* Style the checkmark/indicator */
.container .checkmark:after {
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

.checkboxlabel::before {
    content: '';
    display: inline-block;
    width: 20px;
    height: 20px;
    background-color: #d3bb89;
    border-radius: 10%;
    font-size: 20px;
}

label {
    margin-top: 10px;
}

select,
textarea {
    margin-top: 10px;
    background-color: #202020;
    border: none;
    outline: none;
    color: #d3bb89;
}

.input {
    margin-top: 10px;
    background-color: #202020;
    border: none;
    outline: none;
    color: white;
    font-size: 15px;
    font-family: sans-serif,serif;
}

.show {
    display: block;
    color: red;
}

.hide {
    display: none;
}

.input--border {
    padding-bottom: 15px;
    margin-bottom: 5px;
    border-bottom: 1px solid #d3bb89;
}

.input--invalid {
    border-bottom: 1px solid #d60d10;
}

input[type="submit"] {
    height: 50px;
    margin-top: 15px;
    background-color: #c19a49;
    border: none;
    color: white;
}

.sign2 {
    margin-top: 50px;
    margin-bottom: 50px;
    font-family: "Game Of Thrones", "sans-serif";
    color: #d3bb89;
    text-align: center;
    font-size: 30px;

}

.info {
    padding-left: 5px;
    width: 27%;
    margin-left: 20%;
    border-left: 1px solid #d3bb89;
}

select {
    margin-top: 10px;
    color: #d3bb89;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

textarea {
    resize: none;
}

.select2-selection__rendered,
.select2-selection__arrow,
.select2-results__options {
    background-color: #202020;
    color: #d3bb89;
}
.select2-container--default,
.select2-selection--single,
.select2-selection__rendered{
    padding-bottom: 5px;
    border: none !important;
    color: #d3bb89 !important;
    border-bottom: 1px solid #d3bb89 !important;
}

.select2-selection--single {

}

@media screen and (max-width: 1000px) {
    .wrapper {
        display: block;
    }

    .slider, .form , .contain{
        width: 100%;
        height: 100%;

    }

    .slider {
        background-size: cover;
    }

    .firstForm {
        margin-bottom: 20px;
    }

    .secondForm--visible {
        margin-bottom: 40px;
    }
}